@using ClientWebApp.DTOs;
<div class="card card-body bg-light table-responsive">
    <table class="table table-hover col-12 align-middle">
        <thead>
            <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-3">Title</th>
                <th scope="col" class="col-2">Type</th>
                <th scope="col" class="col-2">Status</th>
                <th scope="col" class="col-1"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Requests.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@(Requests[i].Title)</td>
                    <td>@(Requests[i].Type)</td>
                    <td>@(Requests[i].Status)</td>
                    <td><a href="@Link/@Requests[i].UUID" class="btn btn-sm btn-outline-success w-100">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public List<RequestDTO>? Requests { get; set; }
}
