@using ClientWebApp.Components
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize(Roles = "ADMINISTRATOR")]
@page "/admin_dashboard"

<PageTitle>Administrator Dashboard</PageTitle>

<AuthorizeView Roles="ADMINISTRATOR">
    <Authorized>
        <div class="container text-center">
            <p class="display-4">Administrator dashboard</p>
            <div class="container col-12">
                <div class="row align-items-center justify-content-center m-3">
                    <AdminLinksCard Title="Users" FirstLink="Patients" SecondLink="Doctors" ThirdLink="Administrators"/>
                </div>
            </div>
            <div class="container col-12">
                <div class="row align-items-center justify-content-center m-3">
                    <div class="card card-body bg-light text-center">
                        <AdminLinksCard Title="Medicine" FirstLink="Medicines" SecondLink="Issuers" ThirdLink="Companies" />
                    </div>
                </div>
            </div>
            <div class="container col-12">
                <div class="row align-items-center justify-content-center m-3">
                    <div class="card card-body bg-light text-center">
                        <ServiceStatusCard/>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <h3>You are not authorized to access this page!</h3>
    </NotAuthorized>
</AuthorizeView>
@code {

}
