@using ClientWebApp.DTOs;
<div class="card card-body bg-light table-responsive">
    <table class="table table-hover col-12 align-middle">
        <thead>
            <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-3">Name</th>
                <th scope="col" class="col-2">Assigned doctor</th>
                <th scope="col" class="col-4">UUID</th>
                <th scope="col" class="col-1"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Patients.Length; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@(Patients[i].FirstName + " " + Patients[i].MiddleName.First() + ". " + Patients[i].LastName)</td>
                    <td>@(Patients[i].AssignedDoctor.FirstName + " " + Patients[i].AssignedDoctor.MiddleName.First() + ". " + Patients[i].AssignedDoctor.LastName)</td>
                    <td>@(Patients[i].UUID.ToString())</td>
                    <td><a href="patient_details/@Patients[i].UUID" class="btn btn-sm btn-outline-success w-100">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public PatientBasicDTO[] Patients { get; set; }
}
