@using Blazored.LocalStorage;
@using ClientWebApp.Features;
@using Microsoft.AspNetCore.Components.Authorization

@inject ILocalStorageService localStorage

<AuthorizeView>
    <Authorized>
        <div class="@NavMenuCssClass h-100" @onclick="ToggleNavMenu">
            
            <nav class="navbar p-0 h-100 flex-column">
                <div class="top-row align-items-center text-center w-100 navbar navbar-dark">
                    <a class="w-100 h-100 navbar-brand mx-auto my-auto" href=""><h2><span class="medical-icon-i-health-services" /></h2></a>
                </div>
                <div>
                    <div class="nav-item px-3 col-12">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>
                    <AuthorizeView Roles="ADMINISTRATOR" Context="AdminView">
                        <Authorized>
                            <div class="nav-item px-3 col-12">
                                <NavLink class="nav-link" href="service_reports">
                                    <span class="oi oi-question-mark" aria-hidden="true"></span> Service reports
                                </NavLink>
                            </div>
                            <div class="nav-item px-3 col-12">
                                <NavLink class="nav-link" href="admin_dashboard">
                                    <span class="oi oi-key" aria-hidden="true"></span> Admin Dashboard
                                </NavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="DOCTOR" Context="DoctorView">
                        <Authorized>
                            <div class="nav-item px-3 col-12">
                                <NavLink class="nav-link" href="notes">
                                    <span class="oi oi-document" aria-hidden="true"></span> Notes
                                </NavLink>
                            </div>
                            <div class="nav-item px-3 col-12">
                                <NavLink class="nav-link" href="prescriptions">
                                    <span class="oi oi-script" aria-hidden="true"></span> Prescriptions
                                </NavLink>
                            </div>
                            <div class="nav-item px-3 col-12">
                                <NavLink class="nav-link" href="my_patients">
                                    <span class="oi oi-people" aria-hidden="true"></span> Patients
                                </NavLink>
                            </div>
                            <div class="nav-item px-3 col-12">
                                <NavLink class="nav-link" href="my_schedule">
                                    <span class="oi oi-calendar" aria-hidden="true"></span> Schedule
                                </NavLink>
                            </div>
                            <div class="nav-item px-3 col-12">
                                <NavLink class="nav-link" href="requests">
                                    <span class="oi oi-bell" aria-hidden="true"></span> Requests
                                </NavLink>
                            </div>
                            <div class="nav-item px-3 col-12">
                                <NavLink class="nav-link" href="report">
                                    <span class="oi oi-bullhorn" aria-hidden="true"></span> Report
                                </NavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="PATIENT" Context="PatientView">
                        <Authorized>
                            <div class="nav-item px-3 col-12">
                                <NavLink class="nav-link" href="@("prescriptions/" + UUID)">
                                    <span class="oi oi-script" aria-hidden="true"></span> My Prescriptions
                                </NavLink>
                            </div>
                            <div class="nav-item px-3 col-12">
                                <NavLink class="nav-link" href="my_doctor">
                                    <span class="medical-icon-i-care-staff-area pe-3" style="font-size: 1.25rem" aria-hidden="true"> </span> My Doctor
                                </NavLink>
                            </div>
                            <div class="nav-item px-3 col-12">
                                <NavLink class="nav-link" href="my_schedule">
                                    <span class="oi oi-calendar" aria-hidden="true"></span> Appointments
                                </NavLink>
                            </div>
                            <div class="nav-item px-3 col-12">
                                <NavLink class="nav-link" href="my_requests">
                                    <span class="oi oi-bell" aria-hidden="true"></span> My Requests
                                </NavLink>
                            </div>
                            <div class="nav-item px-3 col-12">
                                <NavLink class="nav-link" href="report">
                                    <span class="oi oi-bullhorn" aria-hidden="true"></span> Report
                                </NavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                </div>
                <div class="navbar-text nav-item px-3 col-12 align-self-end">
                    <NavLink class="nav-link" href="@("profile/" + UUID)">
                        <span class="oi oi-person" aria-hidden="true"></span> My profile
                    </NavLink>
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </NavLink>
                </div>
            </nav>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;
    private string UUID = "";
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var token = await localStorage.GetItemAsStringAsync("token");
        var claims = JwtParser.ParseClaimsFromJwt(token);

        var jti = claims.Single(c => c.Type.Equals("jti")).Value;
        UUID = jti;
    }
}
